

.category-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
  margin-bottom: 15px;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  background-color: #e0f7fa;
}

.category-card h2 {
  margin-bottom: 20px;
  color: #1976d2; 
  font-size: 20px;
  text-align: center;
}

.category-card h3 {
  color: #1976d2; 
  font-size: 20px;
  text-align: center;
}

.category-card li {
  list-style-type: none;
  margin: 10px 0 20px 0;
  font-size: 10px;
  color: white;
  background-color: #1976d2;
  display: inline-block;
  border-radius: 600px;
  padding: 7px;
}