

.rating-stars {
  direction: rtl; 
  display: inline-block;

}

.rating-stars input {
  display: none;
}

.rating-stars label {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.rating-stars input:checked ~ label,
.rating-stars label:hover,
.rating-stars label:hover ~ label {
  color: #ffc107;
}