

.ptag{
  font-size: 16px;
  margin: 6px 0;
  line-height: 1.5;
  border-radius: 8px;
  border-color: rgb(227, 246, 247);
  background-color: rgb(228, 255, 255);
    width: 20%;
    text-align: center;
}