

.profile {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.profile h2 {
  color: #1e3c72;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 3px solid #4dabf7;
}



.user-info {
  margin-bottom: 30px;
    
}

.profile-info-row {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  border: 2px solid #e8ecf1;
  height: 50px;
  border-radius: 20px;
 
}


.profile-info-row:hover{
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  border: 2px solid #e8ecf1;
  background-color: #e8ecf1;
  border-radius: 20px;
 
}

.profile-label {
  min-width: 150px;
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
  margin: 10px;
  
 
}

.profile-value {
  color: #555;
  flex: 1;
  line-height: 1.6;
  margin: 10px;
 
}


.action-div{
    text-align: left;
}



/* all users in panel admin*/
.select-edit-user{
    background-color: rgb(239, 240, 239);
    border-radius: 3px ;
    
    font-size: 17px;
    text-align: center;
    width: 30%;
    height: 35px;
}